<div class="main-about-wrapper">
  <div class="info">
    <img src="../../../assets/img/profile.jpg" alt="Profile Picture">
    <div>
      <h1>{{ 'greeting' | translate }}</h1>
      <span class="status"><span class="point"></span>{{ 'available_to_work' | translate }}</span>
    </div>
  </div>

  <div class="info-text">
    <p>
      {{ 'about_description' | translate }}
    </p>
  </div>

  <div>
    <div class="social">
      <div class="social-icon">
        <a href="https://github.com/eliseo2004" target="_blank"><i
          class="icon-github"></i></a>
      </div>
      <div class="social-icon">
        <a href="https://www.linkedin.com/in/david-eliseo-martinez-s%C3%A1nchez-4896ba32a/" target="_blank"> <i
          class="icon-linkedin"></i></a>
      </div>
      <div class="social-icon">
        <a href="https://www.instagram.com/eliseomartinez2004/" target="_blank"><i class="icon-instagram"></i></a>
      </div>

      <div class="email" (click)="copyEmail()">
        <i class="icon-envelope-o"></i>
        <span>{{ "sanchezmartinez13221@gmail.com" }}</span>
      </div>
    </div>
  </div>
</div>

<div class="copy-toast" [class.show]="showToast()">
  <span>{{ 'email_copied' | translate }}</span>
</div>
