<div class="main-section-container">
  <h2>{{ 'work_experience' | translate }}</h2>

  <div class="experience-section">
    <ol class="experience-list">

      <li class="experience-item-list first">
        <div class="circle-list"></div>
        <time datetime="2026-12">{{ 'december' | translate }}</time>
        <h3>{{ 'current_experience' | translate }}</h3>
        <p>
          {{ 'current_experience_description' | translate }}
        </p>
        <a href="https://www.bwl.com.mx/pages/home" class="btn-info" target="_blank">
          <span>{{ 'more_information' | translate }}</span>
          <i class="fa-regular fa-arrow-right"></i>
        </a>
      </li>

      <li class="experience-item-list">
        <div class="circle-list"></div>
        <time datetime="2026-01">{{ 'january' | translate }}</time>
        <h3>{{ 'second_experience' | translate }}</h3>
        <p>
          {{ 'second_experience_description' | translate }}
        </p>
        <a href="https://jbstech.io/" class="btn-info" target="_blank">
          <span>{{ 'more_information' | translate }}</span>
          <i class="fa-regular fa-arrow-right"></i>
        </a>
      </li>

      <li class="experience-item-list">
        <div class="circle-list"></div>
        <time datetime="">{{ 'summer_date' | translate }}</time>
        <h3>{{ 'third_experience' | translate }}</h3>
        <p>
          {{ 'third_experience_description' | translate }}
        </p>
        <a href="https://www.campmkn.com/" class="btn-info" target="_blank">
          <span>{{ 'more_information' | translate }}</span>
          <i class="fa-regular fa-arrow-right"></i>
        </a>
      </li>

      <li class="experience-item-list">
        <div class="circle-list"></div>
        <time datetime="">{{ 'august' | translate }}</time>
        <h3>{{ 'fourth_experience' | translate }}</h3>
        <p>
          {{ 'fourth_experience_description' | translate }}
        </p>
        <a href="https://alvarado.tecnm.mx/#/home" class="btn-info" target="_blank">
          <span>{{ 'more_information' | translate }}</span>
          <i class="fa-regular fa-arrow-right"></i>
        </a>
      </li>

    </ol>
  </div>
</div>
