$family  : Poppins, sans-serif;

$normal  : 300;
$regular : 400;
$light   : 300;
$medium  : 500;
$bold    : 600;
$bolder  : 700;

$small   : 5px;
$big-text: 16px;
$text    : 14px;
$subText : 13px;
$legal   : 12px;
$subLegal: 11px;
$captions: 9px;
$subtitle: 22px;
$title_alt:20px;
$title   : 28px;
$big-title:30px;
$mega    : 40px;
$ultra   : 60px;

