<div class="tech-slideshow-main-wrapper">
  <div class="prev-shadow"></div>
  <div class="next-shadow"></div>
  <div class="marquee">
    <div class="group" [class.animate]="isViewReady">
      @for (tech of techs; track $index) {
        <div class="tech-icon">
          <img [src]="tech.image" [alt]="tech.name" />
        </div>
      }
    </div>
    <div class="group" [class.animate]="isViewReady">
      @for (tech of techs; track $index) {
        <div class="tech-icon">
          <img [src]="tech.image" [alt]="tech.name" />
        </div>
      }
    </div>
  </div>
</div>
